# 1. Transaction Mode (Port 6543)
DATABASE_URL="postgresql://postgres.gigkysxyoaqboiczkhna:R%40ushabh123@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# 2. Session Mode (Port 5432)
DIRECT_URL="postgresql://postgres.gigkysxyoaqboiczkhna:R%40ushabh123@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

# 3. Security & Rate Limiting
SESSION_SECRET="factory-production-secret-99"
RATE_LIMIT_MAX="120"
RATE_LIMIT_WINDOW_MS="60000"